#App {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100%;
}

#pomodoro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lengths-picker-container {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

header {
    font-size: 45px;
    font-weight: bold;
    margin: 10px;
}

#session {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-color: #13353a;
    border-width: 7px;
    border-style: solid;
    border-radius: 40px;
    margin: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
}

#controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.control {
    margin-right: 7px;
    margin-left: 7px;
}

#timer-label {
    font-size: 25px;
    font-weight: bold;
}

#time-left {
    font-size: 50px;
    font-weight: bold;
    font-family: Roboto;
}
