.length-picker-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold;
}

.picker-container {
    display: flex;
    justify-content: space-between;
}
