.length-picker-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-size: 25px;
    font-weight: bold;
    margin-right: 30px;
    margin-left: 30px;
}

.picker-container {
    display: flex;
    justify-content: space-between;
}

.picker-item {
    margin: 7px;
}
